<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ryuslash</title>
    <link href="http://ryuslash.org/bootstrap2/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/favicon.png" />
    {% block head %}{% endblock %}
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <img class="pull-left" src="/static/logo.png"
               alt="ryuslash.org" title="ryuslash.org" />
          <a class="brand" href="http://ryuslash.org">ryuslash</a>
          <ul class="nav pull-right">
            <li {% if category == 'post' %}class="active"{% endif %}>
              <a href="/post/">posts</a>
            </li>
            <li {% if category == 'activity' %}class="active"{% endif %}>
              <a href="/activity/">activities</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
