{% extends "aggregator/base.html" %}
{% load posts_extras %}

{% block head %}
  <link href="/feeds/posts/" rel="alternate" type="application/rss+xml"
        title="All posts" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span3">
      <img src="https://secure.gravatar.com/avatar/d3af11dc82b44c4f78517c2036271d5c?s=210" />
      <br />
    </div>
    <div class="span9">
      {% for post in list.object_list %}
        <table>
          <tr>
            <td style="vertical-align: top">
              {% if post.title %}
                <h4>
              {% endif %}
              <a href="{{ post.link }}">
                <img class="media-object" src="/static/images/logos/{{ post.icon }}" />
              </a>
              {% if post.title %}
                </h4>
              {% endif %}
            </td>
            <td>
              {% if post.title %}
                <h4>{{ post.title }}</h4>
              {% endif %}
              {% autoescape off %}{{ post.content }}{% endautoescape %}
            </td>
          </tr>
        </table>
        <br />
      {% empty %}
        No posts yet...
      {% endfor %}

      <div class="pagination pagination-centered">
        <ul>
          {% if list.has_previous %}
            <li>
              <a href="/{{ category }}/{{ list.previous_page_number }}/">
                Prev
              </a>
            </li>
          {% endif %}

          <li><a href="#">{{ list.number }}</a></li>

          {% if list.has_next %}
            <li>
              <a href="/{{ category }}/{{ list.next_page_number }}">
                Next
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
