<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ryuslash</title>
    <link href="/static/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/favicon.png" />
    {% block head %}{% endblock %}
  </head>
  <body>

    <a href="/"><img src="/static/logo.png" id="logo"></a>

    <header>
      <hgroup>
        <h1 id="sitetitle">
          <span id="blue">ryu</span><span id="orange">slash</span>
        </h1>
        <h2 id="sitesubtitle">
          Will this ever really be my website?
          <a class="category" href="/activity/">Activities</a>
          <a class="category" href="/post/">Posts</a>
        </h2>
      </hgroup>
    </header>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
