<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ryuslash</title>
    <link href="/static/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/favicon.png" />
    {% block head %}{% endblock %}
  </head>
  <body>

    <header>
      <img src="/static/logo.png" alt="ryuslash.org" title="ryuslash.org"/>
      <h1>
        <a href="http://ryuslash.org">
          <span id="logo-blue">ryu</span><span id="logo-orange">slash</span>
        </a>
      </h1>

      <nav>
        <ul>
          {% if category == 'post' %}
            <li class="selected top">
          {% else %}
            <li class="top">
          {% endif %}
          <a href="/">posts</a>
            </li>

          {% if category == 'activity' %}
            <li class="selected bottom">
          {% else %}
            <li class="bottom">
          {% endif %}
          <a href="/activity/">activities</a>
            </li>
        </ul>
      </nav>
    </header>

    <section class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
