{% extends "aggregator/base.html" %}
{% load posts_extras %}

{% block head %}
<link href="/feeds/posts/" rel="alternate" type="application/rss+xml"
      title="All posts" />
{% endblock %}

{% block content %}
  {% for post in list.object_list %}
    <article class="post">
      (<span class="keyword">defpost</span>
      <a href="{{ post.link }}"
         class="variable-name">{{ post.title|slugify|nameless }}</a>
         (<img src="/static/images/logos/{{ post.icon }}" width="16"
              height="16"/>)
         <div class="doc">
           {% autoescape off %}{{ post.content }}{% endautoescape %}
         </div>
         <span class="string">&quot;{{ post.updated }}&quot;</span>)
    </article>
  {% endfor %}

<div id="pager">
  {% if list.has_previous %}
    <div class="nav-prev">
      <a href="/{{ category }}/{{ list.previous_page_number }}/"
         id="previous">previous</a>
    </div>
  {% endif %}

  {% if list.has_next %}
    <div class="nav-next">
      <a href="/{{ category }}/{{ list.next_page_number }}/"
         id="next">next</a>
    </div>
  {% endif %}

  <div id="current">
    {{ list.number }} / {{ list.paginator.num_pages }}
  </div>
</div>
{% endblock %}
