{% extends "aggregator/base.html" %}

{% block content %}
{% include "aggregator/post_content.html" with post=object %}

<div id="pager">
  {% with next=object.get_next_by_updated previous=object.get_previous_by_updated %}
    {% if previous %}
      <div class="nav-prev">
        <a href="/post/{{ previous.pk }}/" id="previous">
          {{ previous.title }}</a>
      </div>
    {% endif %}

    {% if next %}
      <div class="nav-next">
        <a href="/post/{{ next.pk }}/" id="next">{{ next.title }}</a>
      </div>
    {% endif %}
  {% endwith %}
  <div class="clear"></div>

</div>
{% endblock %}
