{% extends "aggregator/base.html" %}

{% block head %}
<link href="/feeds/posts/" rel="alternate" type="application/rss+xml"
      title="All posts" />
{% endblock %}

{% block menu %}
<div id="feeds">
  {% for feed in feeds %}
    <a href="{{ feed.get_profile_url }}">
      <img src="{{ feed.get_favicon_url }}">
      {{ feed.name }}
    </a>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
{% regroup list.object_list by updated.date as grouped_list %}
{% for group in grouped_list %}
  <header>
    <h2>{{ group.grouper }}</h2>
  </header>

  {% for post in group.list %}
    {% include "aggregator/post_content.html" %}
  {% endfor %}
{% endfor %}

<div id="pager">
  {% if list.has_previous %}
    <div class="nav-prev">
      <a href="/{{ category }}/{{ list.previous_page_number }}/"
         id="previous">previous</a>
    </div>
  {% endif %}

  {% if list.has_next %}
    <div class="nav-next">
      <a href="/{{ category }}/{{ list.next_page_number }}/"
         id="next">next</a>
    </div>
  {% endif %}

  <div id="current">
    {{ list.number }} / {{ list.paginator.num_pages }}
  </div>
</div>
{% endblock %}
