#comments, form {
    background-color: #808080;
    padding: 5px;
    border: 1px #505050 solid;
    margin-bottom: 15px;
    color: #000000;
}

#comments dd {
    margin-left: 40px;
    margin-bottom: 15px;
}

form label {
    display: block;
}
